h1{
    color :black;
    text-decoration: underline;
    font-weight: 300;
}
body{
    /* text-align: center; */

   background-color :deepskyblue;
   padding: auto;
}
i{
    color: black;
}
div{
    width :200px;
    border-width:2px;
    border-style: solid;
    border-color: aliceblue;
    background-color: rgb(241, 251, 46);
    text-align: center;
}
a{
    text-decoration: none;
}